body {
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 414px) {
    width: 414px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
